.blog-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin-top: 30px;
}

.bookmarked-section {
    padding: 10px;
}



@media only screen and (max-width: 576px) {
    .blog-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}

@media only screen and (min-width:577px) and (max-width:767px) {
    .blog-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}