.time-show-container {
    /* margin: 10px; */
    padding: 10px;
    border: 1px solid #6047EC;
    background-color: rgba(96, 71, 236, 0.1);
    border-radius: 10px;
    color: #6047EC;
    text-align: center;
}