.blog {
    margin-bottom: 20px;
}

.cover-img {
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

.author-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.author-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.author-info-container h3 {
    font-weight: 700;
    font-size: 24px;
}

.author-info-container p {
    font-weight: 600;
    font-size: 16px;
    color: rgba(17, 17, 17, 0.6);
}

.marked-read-btn {
    color: #6047EC;
    font-weight: 600;
    font-size: 20px;

    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    .info-container {
        flex-direction: column;
    }

    .author-info-container {
        flex-direction: column;
    }
}